.wrapper {
  .category {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 20px;
    }

    a {
      margin-top: 7px;
      text-decoration: none;
      color: #fff;
      background-color: var(--tg-theme-button-color);
      color: var(--tg-theme-button-text-color);
      width: 150px;
      padding: 7px 0px;
      padding-left: 20px;
      border-radius: 4px;
    }
  }
}
