.wrapper {
  .category {
    margin-top: 50px;
    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
      margin-top: 20px;
      padding-bottom: 15px;
    }

    a {
      text-decoration: none;
      background-color: var(--tg-theme-button-color);
      color: var(--tg-theme-button-text-color);
      padding: 5px 15px;
      margin-top: 10px;
      border-radius: 3px;
    }

    a:first-child {
      margin-right: 20px;
    }

    a:last-child {
      margin-left: 20px;
    }
  }
}
