@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.close {
  margin-top: 50px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 6.5px;
}
